html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg-img{
  margin-top: -300px;
  width: 1583px;
}

.card{
  margin-right: 90px;
  width: 640px;
}
.card-modify{
  margin-left: 100px;
  display: inline-flex;
  margin-top: 70px;
}
.port-body{
  margin-top: -85px;
  background-image: radial-gradient(circle, #4fbdd3, #3fa3bc, #308aa5, #22718e, #155a76, #0f506b, #094661, #033d56, #033d55, #033d54, #043c53, #043c52);
 
}
.work{
  color: white;
  margin-left: 30px;
  margin-top: 62px;
}
.card-img-top{
height: 300px;
}
.card-body{
  background: radial-gradient(993px at 0.5% 98.5%, rgb(0, 239, 247) 0%, rgb(0, 122, 147) 46.7%, rgb(0, 29, 72) 100.2%);
  }
.card-text{
  color: white;
}

.welcome-note{
  margin-top: -500px;
  color: white;
  font-size: 20px;
  margin-left: -490px;
  text-align: center;
}
.navbar{
  background-color: aliceblue;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@media (max-width: 600px) {
  .bg-img{
    margin-top: -450px;
    width: 600px;
    height: 400px;
  }
  
  .card{
    margin-right: 90px;
    width: 400px;
    margin-bottom: 50px;
  }
  .card-modify{
    margin-left: 30px;
    display: block;
    margin-top: 70px;
  }
  .port-body{
    margin-top: -550px;
    background-image: radial-gradient(circle, #4fbdd3, #3fa3bc, #308aa5, #22718e, #155a76, #0f506b, #094661, #033d56, #033d55, #033d54, #043c53, #043c52);
   height: 3150px;
  }
  .work{
    color: white;
    margin-left: 30px;
    margin-top: 62px;
  }
  .card-img-top{
  height: 300px;
  
  }
  .welcome-note{
    margin-top: -270px;
    color: white;
    font-size: 10px;
    margin-left: -60px;
    text-align: center;
  }

}
